@charset "utf-8";
html{overflow:hidden;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font-family:"微软雅黑";font-size:12px;color:#000000;word-wrap:break-word;behavior:url("csshover.htc");overflow:hidden;}
button,input,select,textarea{font:12px/1.5  Arial, "宋体", Helvetica,  Verdana, sans-serif;word-wrap:break-word;color:#565756;}
ul,li{list-style:none;margin:0;padding:0;}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:100%;} 
img{border:none;border:0;vertical-align:middle;}
a{text-decoration:none;outline:none;}
p{margin:0;padding:0;}
input,select,textarea{vertical-align:middle;*font-size:100%;}
input{margin:0;outline:none;padding:0;}
input::-ms-clear{display:none;}
.clearfix:after{
     content:".";       
     display:block;       
     height:0;       
     clear:both;       
     visibility:hidden;       

}
.clearfix{*zoom:1}

.ddw{position:absolute;left:0;top:0;color:#000;font-size:16px;z-index:9999;}
.ddw2{position:absolute;left:20px;top:0;color:#000;font-size:16px;z-index:9999;}
.num_box{position:relative;}
.num{color:#90C;width:100%;position:relative;}
.num p{position:absolute;top:0;left:50%;margin-left:-66px;}

/*#num_0{background:url(../images/t0_02.jpg) no-repeat center #fff;background-size:100% 100%;}*/
/*#num_1{background:url(../images/t1_02.jpg) no-repeat center #fff;background-size:100% 100%;*/
    /*background-position-y: 70px;}*/
/*#num_2{background:url(../images/t2_02.jpg) no-repeat center #fff;background-size:100% 100%;*/

/*}*/
/*#num_3{background:url(../images/t3_02.jpg) no-repeat center #fff;background-size:100% 100%;}*/
/*#num_4{background:url(../images/t4_02.jpg) no-repeat center #fff;background-size:100% 100%;}*/
/*#num_5{background:url(../images/t5_02.jpg) no-repeat center #fff;background-size:100% 100%;}*/
/*#num_6{background:url(../images/t6_02.jpg) no-repeat center #fff;background-size:100% 100%;}*/
/*#num_7{background:url(../images/t7_02.jpg) no-repeat center #fff;background-size:100% 100%;}*/
/*#num_8{background:url(../images/t8_02.jpg) no-repeat center #fff;background-size:100% 100%;z-index:1}*/
.fixed_r{z-index:999;}

.gun-1{
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
